@font-face {
  font-family: 'lalezar';
  src: url('./fonts/Lalezar-Regular.ttf') format('ttf');
  font-weight: bolder;
  font-style: normal;
}

body {
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e2e2;
  font-family:'lalezar',  cursive;
}

* {
  font-family:'lalezar', cursive;

}

